---
import { type Playlist } from "@/lib/data";
import CardPlayButton from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists } = playlist;

const artisitsString = artists.join(", ");
---
<article class="relative group transition-all duration-300  rounded-md  hover:bg-zinc-950">
  <div class="absolute right-4 bottom-[70px] translate-y-4 transition-all duration-500 opacity-0 group-hover:opacity-100  group-hover:translate-y-0 z-10">
    <CardPlayButton transition:name=`playlist ${id} buttom` id={id} size={15} client:visible />
  </div>
<a
  href={`/playlist/${id}`}
  class="playlist-item flex relative p-2 overflow-hidden gap-2  rounded-md flex-col pb-4"
  transition:name=`playlist ${id} box`
>
  <picture class="aspect-square w-full h-auto flex-none">
    <img
      src={cover}
      class="object-cover w-full h-full rounded-md"
      alt=`Cover of ${title} by ${artisitsString}`
      transition:name=`playlist ${id} image`
    />
  </picture>
  <div class="truncate flex flex-col flex-auto">
    <h4 transition:name=`playlist ${id} h4` class="font-medium text-sm">
      {title}
    </h4>
    <span  transition:name=`playlist ${id} span` class=" truncate font-extralight text-sm text-gray-400">
      {artisitsString}
    </span>
  </div>
</a>  
</article>


